
.key{
    border-color: blue;
    width: 90px;
    height: 90px;
    background-color: white;
    margin: 5px;
    font-size: 30px;
    
    border-radius: 10px;
    text-align:center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    -moz-transition: font-size 50ms linear 0s; 
    -webkit-transition: font-size 50ms linear 0s;
    -o-transition: font-size 50ms linear 0s;
    transition: font-size 50ms linear 0s;
    
}
.key:hover{
    font-size:40px;
}
.key:active{
    background-color: rgb(103, 253, 72);
}

.keyw{
    
    width: 190px;
    height: 90px;
}

.keyh{
    
    width: 90px;
    height: 190px;
}

.keyfuntion{
    background-color: rgb(248, 157, 82);
}
.keyclear{
    background-color: aqua;
}