.tecladoDefault {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.teclado {
  background-color: black;
  width: 400px
}

.tecladoNum {
  width: 300px;
}

.tecladoNum2 {
  width: 100px;
}

.pantalla {
  width: 400px;
  height: 90px;
  color: rgb(0, 0, 0);
  background-color: rgb(137, 255, 137);
  margin: 10px;
}

.display {
  height: 50%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align:right;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}